body{
    background-position: center top;
    background-size: cover;
   }

.main-content> div{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-left: 2%;
    margin-right: 2%; */
    /* padding: 5em 8em; */
    color: #113B19;
}

.box{
    background-color: transparent;
    text-align: center;
    border-radius: 0.3em;
    margin-left: 10%;
    margin-right: 10%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.image{
    border-radius: 0.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

table{
    margin: auto;
}

.color_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.color_grid > div{
    width: 30px;
    height: 30px;
    border-radius: 1em;
}

.sm_box{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}

    .main_image{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;        }


.menu{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 2em 2em; 
    margin-left: 30%;margin-right: 30%;   
}

.jour{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.2em;
    margin-left: 20%;    
    margin-right: 20%;   
    padding: 1em 1em; 
}


.grid_photo{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2em;
}

.semi{
    background-color: #bad4c0;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* border-radius: 30px 50px 30px 30px; */
}

td{
    padding: 1em 1em;
}

hr{
    margin-top: 3em;
    margin-bottom: 3em;
    width: 65%;
    height: 2px;
    border: none;
    background: #d1b1c1;
    /* border-radius: 50%; */
}

@media screen and (max-width: 800px) {
    .menu{
       
        margin-left: 5%;margin-right: 5%;   
    }
    .box{
        
        margin-left: 5%;
        margin-right: 5%;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    }
    img{
        width: 120%;
        /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    }
  }
